<p id="notice"><%= notice %></p>
<table>
  <thead>
    <th>select company</th>
    <th>select month</th>
    <th>upload file</th>
  </thead>
  <tbody>
    <tr>
      <td><%= select_tag "company_id", options_from_collection_for_select(@company, "id", "name") %></td>
      <td><%= select_month(Date.today) %></td>
      <td><%= link_to 'Upload excel file', new_import_path %></td>
    </tr>
  </tbody>
</table>